@media screen and (max-width: 600px) {
    .flex {
        flex-direction: column;
    }
    header h1 {
        font-size: 2rem;
    }
    header h4 {
        font-size: 1rem;
    }
    main {
        max-width: 100%;
        margin: 25px;
    }
    #cta {
        font-size: 1.15rem !important;
    }
    .shop img {
        max-width: 100%;
    }
    .social-links {
        flex-direction: column;
        gap: 5px;
    }
    .social-links .button {
        font-size: 0.9rem;
        padding: 10px;
    }
    .main-image img {
        max-height: 200px;
    }
}
